
html {
    scroll-behavior: smooth;
}

li {
list-style-type: none;
}
a:link, a:visited{
text-decoration: none;
color: #bcbcbc;
}
body{
    padding-top: 30vh;
    height: 100vh;
    background: rgb(7, 66, 83);
    background-size: cover;
    color: white;
}
a{
    text-decoration: none;
}
.form-container{
    width: 100%;
    
}
.container-fluid{
    padding: 5% 5%;
    height: 80vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
.menu__list{
    display: flex;
    width: 100%;
    height: 20vh;
    background-color: #12111f2b;
  }
nav ul{
width: 100%;
height: 100%;
display: flex;
justify-content: space-around;
align-items: center;
}
/**********FRONT PAGE*********/
.main-buttons-item{
    width: 20rem;
    height: 15rem;
    border-radius: 100%;
    margin: auto;
}
.row{
    display: flex;
    align-items: center;
}
.btn-videos:hover{
    background: rgb(32, 188, 216);
    border: solid 2px;
    border-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-videos{
    background: rgb(7, 66, 83);
    color: white;
    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-request:hover{
    background: rgb(32, 188, 216);
    border: solid 2px;
    border-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-request{
    background: rgb(7, 66, 83);
    color: white;
    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-contribute:hover{
    background: rgb(32, 188, 216);
    border: solid 2px;
    border-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-contribute{
    background: rgb(7, 66, 83);
    color: white;
    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
/***** media query 3-main-buttons *******/
@media (max-width: 1200px) {
    .main-buttons-item{
    width: 15rem;
    height: 10rem;
    border-radius: 100%;
    }
}
@media (max-width: 990px) {
    .row{
    display: flex;
    justify-content: center;
    }
    
}
@media (max-width: 570px) {
    .row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    }
    .main-buttons-item{
    display: inline-flex;
    width: 15rem;
    height: 10rem;
    }
    h3{
        font-size: small;
    }
}
@media (max-width: 380px) {
    .row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    }
    .main-buttons-item{
    display: inline-flex;
    width: 11rem;
    height: 6rem;
    margin: 0.5rem;
    }
    h3{
        font-size: small;
    }
}

/*********** FOOTER *******/

footer {
    background-color: rgba(182, 225, 241, 0.13);
}
.footer-container{
    display: flex;
    justify-content: center;
}
footer ul li{
    list-style: none;
    display: inline;
}
.link-light, 
p.text {
    color: #000;
}
.back-home-footer{
    margin-top: -1rem;
    transform: translateY(-50%);

}
/********* media query footer *******/
@media (max-width: 886px) {
    footer ul{
        display: flex;
        flex-direction: column;
    }
}
@media (min-width: 770px) {
    .footer-container{
        margin: 0 10px;
    }
}
@media (min-width: 533px) {
    .footer-container{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

/***********page intro recherche **********/
.main-search-buttons-item{
    width: 35rem;
    height: 7rem;
    margin: auto;
}
.btn-date-add:hover{
    background: rgb(32, 188, 216);
    border: solid 2px;
    border-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-date-add{
    background: rgb(7, 66, 83);
    color: white;
    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-category-order:hover{
    background: rgb(32, 188, 216);
    border: solid 2px;
    border-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-category-order{
    background: rgb(7, 66, 83);
    color: white;
    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-alphabet-order:hover{
    background: rgb(32, 188, 216);
    border: solid 2px;
    border-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
.btn-alphabet-order{
    background: rgb(7, 66, 83);
    color: white;
    border: solid 2px;
    border-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align : center;
    box-shadow: 5px 8px 26px -2px rgb(106, 238, 255);
}
/***** media query 3-main-buttons *******/
@media (max-width: 1200px) {
    .main-search-buttons-item{
    width: 15rem;
    height: 10rem;
    border-radius: 100%;
    }
}
@media (max-width: 990px) {
    .row{
    display: flex;
    justify-content: center;
    }
    
}
@media (max-width: 570px) {
    .row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    }
    .main-buttons-item{
    display: inline-flex;
    width: 15rem;
    height: 10rem;
    }
    h3{
        font-size: small;
    }
}
@media (max-width: 380px) {
    .row{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    }
    .main-search-buttons-item{
    display: inline-flex;
    width: 11rem;
    height: 6rem;
    margin: 0.5rem;
    }
    h3{
        font-size: small;
    }
}


/*************PAGE CATEGORIES LIST*************/
#categroy-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.category-list__list-item{
    width: 18%;
    height: 40px;
}

/*************PAGE CATEGORY SINGLE************/
.container-categories{
    width: 80%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.div-categ-item{
    width: 18%;
    height: 30vh;
    border: solid 1px white;
    padding: 2%;
    margin: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}